.applied-job {
  /* Styles for a job that has been applied for */
  border: 5px solid #4caf50;
  border-radius: 10px;
  background-color: #005503;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.5); /* A subtle green glow */
  transition: all 0.3s ease-in-out;
}

.applied-job .job-title {
  color: #388e3c; /* Darker green for the title */
}

/* Optional: Add a checkmark icon */
.applied-job::after {
  color: #ffffff;
  content: "✅ Applied";
  position: absolute;
  top: 2em;
  right: 2em;
  font-size: 80px;
  font-weight: bolder;
  transform: rotate(10deg);
  /* Place each word on a new line */
  /* display: inline-block; 
  max-width: min-content; */
}
